p{
     text-color:black;
}
ul{
    display:flex;
    list-style-type:none;
    overflow:hidden;
}

li{ 
    list-style:none;

    font-size:15px;
    margin-right:1%;
    font-family: 'Merriweather', serif;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

  ol{
    position:relative;
    display:flex;
    list-style-type:none;
}
ol li{
    position:relative ;
    list-style:none;
}
ol li a{
    position:relative;
    height:60px;
    width:60px;
    border-radius:50%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    margin:0px 0px 0px 15px;
    box-shadow:inset -3px -3px 9px rgba(0,0,0,.3),
    3px 3px 9px rgba(0,0,0,.5);
    transition:0.5s;
}
ol li .fa{
    position:relative;
    color:#fff;
}
ol li a:before{
    content:"";
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border:1px solid #777;
    border-radius:50%;
    box-shadow:inset 3px 3px 9px rgba(0,0,0,.5),
                3px 3px 9px rgba(0,0,0,.3);
    
    
}
ol li:nth-child(1) a:before{
    background:#0984e3;
}
ol li:nth-child(2) a:before{
    background:#4169E1;
}
ol li:nth-child(3) a:before{
    background:#a29bfe;
}
ol li:nth-child(4) a:before{
    background:#FF6347;
}
ol li:nth-child(5) a:before{
    background:#9400D3;
}
ol li a:hover{
    transform:scale(1.2)translateY(-10px);
    box-shadow:inset -5px -5px 15px rgba(0,0,0,.3),
                10px 10px 25px rgba(0,0,0,.5);
    cursor:pointer;
}
ol li a .fa{
    font-size:1.5em;
    text-shadow:2px 2px 6px rgba(0,0,0,.9);
}



.about{
    text-color:#fff;
    background:#95a5a6;
    font-style:italic ;
}
a{ 
    color:black;
    display:block;
    text-decoration:none;
    margin-right:25%
}
a:hover{
color:white;
}
.fa-bar{  
float:left;
}
.fa-level-down{
    float:right;
    text-color:white;
}
.fa-search{
    margin-left:50%;
    float:center;
}
img{
    border-radius:5px;
    border:2px solid #4169E1;
}
img:hover{
    height:300px;
    width:300px;
}
#ieee a{ 
     font-size:25px;
     text-align:center;
     padding:3px;
     margin:9%;
     text-decoration:none ;
     border-radius:10px;
     color:black;
     box-shadow: 1px 1px 1px black;
     font-family: 'Merriweather', serif;
}
.fa-facebook{
    float:left;
} 
.fa-twitter{
    float:left;
}
.fa-handshake-o{
    float:left ;
}
h3{ text-align:center;
    color:black;
    font-size:17px;
    opacity:0.7;
}
body{
     background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb6M3fLUo25RlPpZVWV5zmxeKr5I6aLILi9r7ob5_kPNb1S9HNOmslGgI&s=10");
background-size:100vw 100vh;
opacity:1;
    

}

div{
    text-align:center;
}

h1 {
    text-shadow:3px 3px 2px grey;
    color:white;
    font-family:fantasy;
    font-weight:40px;
    font-size:25px;
    text-align:center;
}

h2{
    text-indent:10px;
    color:black;
    background:white;
    text-align:center;
}

h3{
    text-indent:10px;
    color:black;
    background:white;
    text-align:center;
}
h4{
    text-indent:10px;
    color:white;
    background:#4169E1;
    text-align:center;

    
}
h5{text-indent:10px;
color:blue;
background:white;
text-align:left;
}
